// Basic styles

body {

  font-family: 'Montserrat', sans-serif;

  h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 1.5;
      color: white;      
  }
  h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 3rem;
      line-height: 1.5;
      
  }
}

// Navigation Bar section

#title {
    background-color: #ff4c68;
    
    .container-fluid {
        padding: 3% 15% 7%;
    }

    .navbar {
        padding: 0 0 4.5rem;; 
    }

    #app-name {
        font-family: 'Ubuntu', sans-serif;
        font-size: 250%;
        font-weight: bold;
    }

    .nav-item {
        padding: 0 18px;
        font-size: 1.3rem;
        font-weight:inherit ;
    }

    
    .btns-banner {
        font-weight: inherit;
        margin: 5% 3% 5% 0;
    }

    .title-image {
        width: 60%;
        transform: rotate(25deg);
        position: absolute;
        right: 30%;
    }
}

// Features section 

#features {
    background-color: white;
    padding: 7% 15%;
    position: relative;

    p {
        color: #8f8f8f;
    }

    .feature {
        padding: 5%;
        text-align: center;
        .icon {
            margin-bottom: 1rem;
            color:#ef8172;
           
        }
        .icon:hover {
            color: #ff4c68;
        }
        .feature-title {
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

// Testimonial section

#testimonials {
    background-color: #ef8172;
    text-align: center;    
    color: #fff;

    .testimonial-picture {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
    }

    .carousel-item {
      padding: 7% 15% 3% 15%;  
    }

    #press {   
    text-align: center;
    padding: 5% 0 5% 0;
    }

    .press-logo {
        width: 15%;
        padding: 20px 20px 0 20px;
       
    }
}

//  Pricing Section

#pricing {
    padding: 100px;
    text-align: center;
    .pricing-column {
        padding: 3% 2%;
    }
}

//  Call to action Section

#cta {
    background-color: #ff4c68;
    text-align: center;
    .container-fluid{
        padding: 7% 15%;
    }
    
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 1.5;
      color: white; 
    }
    .btns-down {
        margin: 5% 3% 5% 0;
    }
}

//  Footer Section

#footer {
    text-align: center;
    padding: 100px;
    .social-icon {
        margin: 20px 10px;
    }
    p {
        color: #8f8f8f;
    }
}

@media (max-width:990px) {
    #title {
         text-align: center;
         .title-image {
            transform: rotate(0);
            position: static;
        }    
    }
}


    

